<h2>What cookies are</h2>
<p>A cookie is a small piece of text that a website asks your browser (such as Internet Explorer) to save to your computer when you visit the website.&nbsp;&nbsp;</p>
<p>When you visit another page on the same website, or in some cases when you next visit the website, the browser sends the cookie back to the website so it can remember your visit. This kind of memory is then used to do things like keep you logged in.&nbsp;</p>
<p>Our cookies are not used to identify you. They’re there to make the site work better for you. You can manage and/or delete these files as you wish.&nbsp;&nbsp;</p>
<h2>Managing cookies&nbsp;</h2>
<p>You have options when it comes to which cookies your browser will use.&nbsp;</p>
<p>You can set your browser to:&nbsp;</p>
<ul>
<li>allow all cookies&nbsp;</li>
<li>allow only 'trusted' sites to send them&nbsp;</li>
<li>accept only those cookies from websites you are currently using&nbsp;</li>
</ul>
<p>We recommend that you do not block all cookies because parts of the website rely on them to work properly.&nbsp;</p>
<p>The way to manage your cookies depends on which browser you are using.&nbsp;&nbsp;</p>
<p>Use the links to find out how to manage cookies in the following browsers:&nbsp;&nbsp;</p>
<ul>
<li><a href="https://support.apple.com/en-gb/HT201265"><u>Apple Mobile Safari</u></a>&nbsp;</li>
<li><a href="https://support.apple.com/kb/PH5042?locale=en_US"><u>Apple Safari</u></a>&nbsp;</li>
<li><a href="https://support.google.com/chrome/?hl=en&amp;answer=95647#topic=3227046"><u>Google Chrome</u></a>&nbsp;</li>
<li><a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies"><u>Microsoft Internet Explorer</u></a>&nbsp;</li>
<li><a href="https://www.mozilla.org/en-US/privacy/websites/"><u>Mozilla Firefox</u></a>&nbsp;</li>
</ul>
<p>If your browser is not in the list above, learn how to manage cookies in other browsers on the <a href="https://www.aboutcookies.org/"><u>About Cookies website</u></a>.&nbsp;</p>
<p>If you prefer not to receive cookies then you will not be able to create an account, log in to an account, manage listings, set text and colour preference or set the language.&nbsp;</p>
<h2>Types of cookies being used&nbsp;</h2>
<p>This website uses the following cookies:&nbsp;&nbsp;</p>
<h3>Strictly necessary cookies&nbsp;</h3>
<p>Some necessary cookies are required to use our core features and functionality. This website will not function properly without these enabled. You can opt out of these by changing your browser settings.&nbsp;</p>
<h4>Cookie-agreed&nbsp;</h4>
<p><strong>Purpose</strong>: Saves your cookie preference&nbsp;</p>
<p><strong>Expires after</strong>: 100 days&nbsp;</p>
<h4>Cookie-agreed-categories&nbsp;</h4>
<p><strong>Purpose</strong>: Saves your cookie preference&nbsp;</p>
<p><strong>Expires after</strong>: 100 days&nbsp;</p>
<h4>cookie-agreed-version&nbsp;</h4>
<p><strong>Purpose</strong>: Saves your cookie preference&nbsp;</p>
<p><strong>Expires after</strong>: 100 days&nbsp;</p>
<h4>__KBCookie__/greenwich/directory/&nbsp;</h4>
<p lang="EN-US"><strong>Purpose</strong>: KB5 manages the display of the old directory and contains a unique string to identify your session&nbsp;</p>
<p lang="EN-GB"><strong>Expires after</strong>: Session&nbsp;</p>
<h4>_outpost_session&nbsp;</h4>
<p><strong>Purpose</strong>: Allows user to log in&nbsp;</p>
<p><strong>Expires after</strong>: Session&nbsp;</p>
<h4>remember_user_token&nbsp;</h4>
<p><strong>Purpose</strong>: Saves your cookie preference&nbsp;</p>
<p><strong>Expires after</strong>: 14 days &nbsp;</p>
<h3>Functional cookies&nbsp;</h3>
<p>We use functional cookies to enable you to use certain features. These may be set by third party websites and do things like measure how you view YouTube videos.&nbsp;</p>
<p lang="EN-US">We currently do not use any functional cookies on the directory.&nbsp;</p>
<h3>Analytics cookies&nbsp;</h3>
<p>We use Google Analytics cookies to measure how you use this website and help us improve it.&nbsp;</p>
<h4>_ga&nbsp;</h4>
<p><strong>Purpose</strong>: Used to identify unique users&nbsp;</p>
<p><strong>Expires after</strong>: 2 years&nbsp;</p>
